* {
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    height: 100px;
    display: flex;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
}

a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
}

li {
    list-style: none;
}

.logo {
    width: 20%;
    height: 100%;
    background-color: #000;
}

.nav {
    width: 60%;
    height: 100%;
    background-color: #fff;
}

.menu {
    width: 100%;
    overflow: hidden;
}

.menu > li {
    width: 25%;
    float: left;
    text-align: center;
    line-height: 100px;
    font-weight: 600;
}

.submenu {
    max-height: 0;
    transition: max-height 0.4s , opacity 0.3s; 
    background-color: #fff;
}

.submenu > li:hover {
    background-color: #D98324;
    transition: 0.3s;
}

.menu:hover .submenu {
    max-height: 500px;
}

.utill {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.utill a {
    font-size: 15px;
    font-weight: 500;
    opacity: 0.5;
    padding: 10px;
}

.utill a:hover {
    opacity: 1;
    transform: scale(1.10);
}

.underline::after {
    display: flex;
    content: '';
    border-bottom: 2px solid black;
    transform: scale(0);
    margin-bottom: -3px;
    transition: 0.2s ease-in-out;
}

.underline:hover::after {
    transform: scale(1);
}

/* 헤더 */

.section {
    position: relative;
    top: 100px;
}

.slide {
    white-space: nowrap;
    font-size: 0;
    overflow: hidden;
}

.slide img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.section li {
    position: relative;
    display: inline-block;
    width: 100%;
    animation: img-slide 12s infinite linear;
}

@keyframes img-slide {
    0% {
        left: 0;
    }

    22% {
        left: 0;
    }

    33% {
        left: -100%;
    }

    55% {
        left: -100%;
    }

    66% {
        left: -200%;
    }

    88% {
        left: -200%;
    }

    100% {
        left: -300%;
    }
}

.section:hover .slide li {
    animation-play-state: paused;
}

.text-box {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 560px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.6);
    font-size: 20px;    
    color: #fff;
    text-align: center;
    align-content: center;
    padding: 20px;
    font-weight: 600;
}

.text-box > h2 {
    color: #D98324;
}

/* 슬라이더 */

.content {
    width: 100%;
    height: 4500px;
    margin-top: 5%;
}

.category {
    width: 80%;
    height: 55%;
    margin: 0 auto;
    margin-top: 10%;
    position: relative; 
}

.category-font {
    font-size: 30px;
    text-align: center;
}

.a-box {
    padding-top: 3%;
    padding-left: 70%;
}

.a-box > a {
    font-weight: 500;
    font-size: 15px;
    padding: 10px;
    opacity: 0.5;
}

.a-box > a:hover {
    opacity: 1;
    text-decoration: underline;
    text-underline-offset: 3px;
}

.title-font {
    font-size: 25px;
    font-weight: 600;
}

.content img {
    width: 300px;
    border-radius: 15px;
    object-fit: cover;
}

.content ul {
    height: 18%;
    position: relative;
}

.p-content {
    font-size: 13px;
    padding-bottom: 10px;
}

.Discount-Rewards {
    font-size: 12px;
    padding-bottom: 5px;
    opacity: 0.5;
}

h3 {
    font-size: 23px;
}

.price-and-shipping {
    font-size: 14px;
}

.content span {
    padding-left: 10px;
    font-size: 17px;
    color: #85b31c;
}

.first-line span {
    font-size: 16px;
    color: red;
}

.first-line {
    width: 300px;
    position: absolute;
    top: 4%;
    padding-left: 10%;
    font-size: 14px;
}

.second-line {
    width: 300px;
    position: absolute;
    top: 4%;
    padding-left: 40%;
    font-size: 14px;
}

.third-line {
    width: 300px;
    position: absolute;
    top: 4%;
    padding-left: 70%;
    font-size: 14px;
}

/* 카테고리 */

.notice {
    width: 60%;
    height: 16%;
    margin: 0 auto;
}

.notice-font {
    font-size: 35px;
    font-weight: 600;
    text-align: center;
}

.notice-page {
    text-align: right;
    opacity: 0.5;
}

.notice-box {
    border-bottom: solid 1px #ddd;
    position: relative;
    display: flex;
    padding: 20px;
}

.notice-title {
    font-weight: 600;
    color: #D98324;
}

.notice-content {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
}

.notice-date {
    position: absolute;
    right: 20px;
    opacity: 0.5;
}

.notice-button {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    margin-top: 10px;
}

button {
    position: relative;
    background: none;
    border: none;
    font-size: 50px;
    cursor: pointer;
    margin: 25px;
    color: #666;
}

/* 공지사항 */

.product {
    width: 60%;
    height: 8%;
    margin: 0 auto;
    display: flex;
    gap: 20px;
}

.product-box {
    width: 300px;
    height: 150px;
    background-color: #995d1d;
    border-radius: 10px;
    position: relative;
}

.product p {
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    color: #fff;
}

.icon-box {
    width: 100px;
    height: 100px;
    background-color: #fff;
    position: absolute;
    bottom: 7%;
    right: 50%;
    transform: translateX(50%);
    border-radius: 50%;
    color: #995d1d;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 입점문의 */

.guide {
    width: 60%;
    margin: 0 auto;
}

.guide-font {
    font-size: 35px;
    font-weight: 600;
    text-align: center;
}

.guide-box {
    position: relative;
    display: flex;
    padding: 30px;
}

.guide-title {
    font-size: 18px;
    color: #D98324;
    font-weight: 600;
}

.guide-content {
    position: absolute;
    left: 18%;
    line-height: 30px;
}

.guide-img {
    position: absolute;
    right: 10px;
    top: 20px;
    color: #D98324;
    font-size: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 입점절차안내 */

.footer {
    width: 100%;
    height: 500px;
    background-color: #c6c5c5;
    position: relative;
}

.footer p {
    font-size: 17px;
    position: absolute;
    top: 20%;
    padding-top: 10px;
    padding-left: 10%;
    opacity: 0.7;
}

.footer span {
    font-size: 17px;
    position: absolute;
    top: 25%;
    padding-top: 10px;
    padding-left: 10%;
    opacity: 0.7;
    color: #000;
}

.footer  .phone-number {
    font-size: 17px;
    position: absolute;
    top: 30%;
    padding-top: 10px;
    padding-left: 10%;
}

.footer  .bank-servise {
    font-size: 17px;
    position: absolute;
    top: 40%;
    padding-top: 10px;
    padding-left: 10%;
    font-weight: 800;
}

.footer .sercurity {
    font-size: 17px;
    position: absolute;
    top: 45%;
    padding-top: 10px;
    padding-left: 10%;
    color: #000;
}

.footer .legal-info {
    font-size: 17px;
    position: absolute;
    top: 60%;
    padding-top: 10px;
    padding-left: 10%
}

.footer .title {
    font-size: 17px;
    font-weight: 900;
    opacity: 1;
    position: absolute;
    top: 80%;
    padding-top: 10px;
    padding-left: 10%
}

.footer .customer-service {
    font-size: 20px;
    font-weight: 800;
    position: absolute;
    top: 20%;
    padding-top: 10px;
    padding-left: 70%;
    opacity: 1;
}

.footer .customer-service-number {
    font-size: 17px;
    position: absolute;
    top: 30%;
    padding-top: 10px;
    padding-left: 70%;
    opacity: 0.7;
}

.footer .customer-hour-use {
    font-size: 17px;
    position: absolute;
    top: 45%;
    padding-top: 10px;
    padding-left: 70%;
    opacity: 0.7;
}

.footer .customer-announcement {
    font-size: 17px;
    position: absolute;
    top: 55%;
    padding-top: 10px;
    padding-left: 70%;
    opacity: 0.7;
}

.footer img {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    filter: grayscale(100%);
}

.footer img:hover {
    filter: grayscale(0%);
}

.footer .icon1 {
    position: absolute;
    padding-left: 70%;
    top: 70%;
}

.footer .icon2 {
    position: absolute;
    left: 73%;
    top: 70%;
}

.footer .icon3 {
    position: absolute;
    left: 76%;
    top: 70%;
}

.footer .icon4 {
    position: absolute;
    left: 79%;
    top: 70%;
}

.footer .icon5 {
    position: absolute;
    left: 82%;
    top: 70%;
}














